@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
.top-bar {
  background: #00194a;
  color: white;
}
@media screen and (max-width: 600px) {
  .top-bar {
    display: none;
  }
}

.top-bar__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5;
}

.top-bar__right, .top-bar__left {
  display: flex;
  flex-wrap: wrap;
}

.top-bar__adress {
  padding: 1rem 1.5rem;
}

.top-bar__que {
  padding: 1rem 1.5rem;
}

.link {
  text-decoration: none;
  color: white;
}

.sign {
  display: flex;
  flex-wrap: wrap;
}

.login {
  padding: 1rem 1.5rem;
}

.language {
  padding: 1rem 1.5rem;
}

.social {
  padding: 1rem 1.5rem;
  display: flex;
  flex-wrap: wrap;
}
.social div {
  margin-right: 0.65rem;
  text-decoration: none;
}

.logo-area {
  padding: 2.2rem 0px;
}
@media screen and (max-width: 600px) {
  .logo-area {
    display: none;
  }
}

.logo-area__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-area__contact {
  display: flex;
  align-items: center;
}

.logo-area__img {
  height: 4.1rem;
}
.logo-area__img img {
  height: 100%;
}

.logo-area__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4.5rem;
  font-size: 1.7rem;
}

.logo-area__item-text {
  margin-left: 1rem;
}
.logo-area__item-text p {
  color: #969696;
  font-size: 1.3rem;
}
.logo-area__item-text span {
  font-weight: 500;
}

.menu {
  width: 100%;
  position: absolute;
  z-index: 4;
  top: 14rem;
}
@media screen and (max-width: 900px) {
  .menu {
    display: none;
  }
}

.menu__row {
  z-index: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 3rem;
  border-radius: 0.5rem;
  background: white;
}

.menu__list {
  list-style: none;
  display: flex;
  align-items: center;
}

.menu__item {
  position: relative;
  z-index: 4;
  padding: 2rem 2.7rem 1.7rem 0px;
  background-color: white;
}
.menu__item:hover .sub-menu {
  display: block;
  transform: scaleY(1);
}
.menu__item:hover .menu__link {
  color: black;
}

.menu__link {
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #00194a;
}

.menu__link__i {
  color: #00194a;
}

.sub-menu {
  position: absolute;
  background-color: white;
  list-style: none;
  transform: scaleY(0);
  min-width: 30rem;
  border-radius: 0 0 0.5rem 0.5rem;
  margin-top: 1.7rem;
  z-index: 3;
  display: block;
  transform-origin: center top 0px;
  transition: 0.2s ease;
}

.sub-menu__item {
  padding: 1rem 2rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}
.sub-menu__item:last-child {
  border-bottom: none;
}
.sub-menu__item:hover .sub-menu__link {
  color: black;
}

.sub-menu__link {
  color: #636363;
  text-decoration: none;
  font-size: 1.5rem;
}

.mob-menu {
  background-color: #00194a;
  position: fixed;
  z-index: 100;
  width: 100%;
  color: white;
  padding: 1.8rem 0;
  display: none;
}
@media screen and (max-width: 700px) {
  .mob-menu {
    display: block;
  }
}

.mob-menu__row {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.burger {
  width: 3rem;
  position: relative;
  transition: 0.4s ease;
}

.burger.cliced {
  transition: 0.4s ease;
  left: 20%;
}

.bur-c {
  font-size: 3rem;
}

.logo {
  width: 150px;
}
.logo img {
  width: 100%;
  height: 100%;
}

.menu2 {
  position: relative;
  top: 0;
}

.menu__row2 {
  background: white;
  color: black;
  padding: 2rem 0px;
}

.menu__link2 {
  color: #00194a;
}

.header {
  font-family: "Roboto", sans-serif;
  width: 100%;
  position: relative;
}

.icon-c-w {
  color: white;
}

.icon-c {
  color: #222a74;
}

.breadcam-area {
  padding: 6rem 0px;
  position: relative;
}
.breadcam-area::before {
  position: absolute;
  content: "";
  background: #182b49;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.breadcam-area__text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.breadcam-area__text h2 {
  background: #182b49;
  display: inline-block;
  padding: 3rem 4.5rem;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 3.2rem;
  color: white;
  z-index: 2;
}

.course {
  padding: 7rem 0 7rem;
}

.course__row {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 4rem;
}

.course__main-title {
  color: #182b49;
  font-weight: 600;
  line-height: 3.5rem;
  font-size: 2.4rem;
  margin-bottom: 2.5rem;
}

.course__overviews {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2.5rem;
  align-items: center;
  justify-content: center;
}

.course-over-article {
  margin: 0px 2rem 0px 0px;
  padding: 0px 2rem 0px 0px;
  border-right: 1px solid #dddddd;
}
.course-over-article h3 {
  font-size: 1.6rem;
  color: #444444;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.course-over-article p {
  font-size: 1.5rem;
  color: #969696;
  font-weight: 500;
}

.course__main-img {
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 4rem;
}
.course__main-img img {
  width: 100%;
}

.course-tab-btns {
  display: flex;
  display: inline-block;
  flex-wrap: wrap;
  list-style: none;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0.8rem 2.5rem;
  margin-bottom: 3.5rem;
}

.course-tab-btn {
  display: inline-block;
  font-size: 14px;
  color: #444444;
  font-weight: 500;
  text-transform: uppercase;
  padding: 1.2rem 3rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.course-tab-btn--active {
  background: linear-gradient(90deg, #11b67a 0%, #009444 100%);
  color: white;
}

.course-tab-content {
  margin-bottom: 4rem;
}

.course-tab-title {
  color: #444444;
  font-weight: 600;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  position: relative;
  font-size: 2rem;
}
.course-tab-title::after {
  position: absolute;
  content: "";
  background: #11b67a;
  width: 5rem;
  height: 0.2rem;
  bottom: 0px;
  left: 0px;
}

.course-tab-description {
  font-size: 1.5rem;
  color: #666666;
  line-height: 2.5rem;
}

.main-sidebar {
  box-shadow: 0px 0.8rem 2.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1.5rem 2rem 2rem;
}

.main-sidebar__title {
  color: #182b49;
  font-weight: 600;
  font-size: 2rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  position: relative;
}
.main-sidebar__title::before {
  position: absolute;
  content: "";
  background: #11b67a;
  width: 5rem;
  height: 2px;
  bottom: 0px;
  left: 0px;
}

.main-sidebar__item {
  padding: 1.2rem 0px;
  font-size: 1.4rem;
  color: #11b67a;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px dashed #dddddd;
}
.main-sidebar__item:first-child {
  border-top: none;
}
.main-sidebar__item > span {
  font-size: 1.3rem;
  font-weight: 300;
  color: #969696;
}
.main-sidebar__item > div span {
  font-size: 1.4rem;
  font-weight: 600;
  color: #444444;
  margin-left: 1rem;
}

.container {
  max-width: 1180px;
  padding: 0px 2rem 0px 2rem;
  margin: 0 auto;
}

.swiper-container {
  width: 100%;
  height: 100vh;
}
@media screen and (max-width: 700px) {
  .swiper-container {
    height: 70vh;
  }
}

.swiper-slide {
  position: relative;
}

.bg::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(0deg, #020024 0%, rgba(19, 19, 100, 0.3) 0%, rgba(13, 29, 76, 0.7) 19%, rgba(8, 37, 58, 0.7) 73%, rgba(5, 41, 48, 0.3) 100%);
}

.swiper-slide__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide__text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 40%;
  left: 0;
  z-index: 2;
  color: white;
}
@media screen and (max-width: 700px) {
  .swiper-slide__text {
    top: 30%;
  }
}
.swiper-slide__text h2 {
  font-size: 4.8rem;
}
@media screen and (max-width: 700px) {
  .swiper-slide__text h2 {
    font-size: 3.5rem;
  }
}
.swiper-slide__text h3 {
  font-size: 1.8rem;
}
@media screen and (max-width: 700px) {
  .swiper-slide__text h3 {
    font-size: 1.3rem;
  }
}

.swiper-button-prev {
  color: white;
  background-color: transparent;
  border: none;
  width: 1rem !important;
  padding: 3rem;
  border-radius: 0.5rem;
}
.swiper-button-prev:hover {
  background: linear-gradient(90deg, #fa7042 0%, #942200 100%);
}

.swiper-button-next {
  color: white;
  background-color: transparent;
  border: none;
  width: 1rem !important;
  padding: 3rem;
  border-radius: 0.5rem;
}
.swiper-button-next:hover {
  background: linear-gradient(90deg, #fa7042 0%, #942200 100%);
}

.btn {
  text-decoration: none;
  border: none;
  background: linear-gradient(90deg, #fa7042 0%, #942200 100%);
  padding: 1.1rem;
  border-radius: 0.5rem;
  color: white;
  font-size: 1.4rem;
}
.btn:hover {
  background: linear-gradient(90deg, #942200 0%, #fa7042 100%);
}

.btn--dark-blue {
  background: linear-gradient(90deg, #001777 0%, #00194a 100%);
}
.btn--dark-blue:hover {
  background: linear-gradient(90deg, #00194a 0%, #001777 100%);
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
  display: block;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mt-6 {
  margin-top: 6rem;
}

.mt-7 {
  margin-top: 7rem;
}

.mt-8 {
  margin-top: 8rem;
}

.mt-9 {
  margin-top: 9rem;
}

.mt-10 {
  margin-top: 10rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.mb-7 {
  margin-bottom: 7rem;
}

.mb-8 {
  margin-bottom: 8rem;
}

.mb-9 {
  margin-bottom: 9rem;
}

.mb-10 {
  margin-bottom: 10rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4rem;
}

.ml-5 {
  margin-left: 5rem;
}

.ml-6 {
  margin-left: 6rem;
}

.ml-7 {
  margin-left: 7rem;
}

.ml-8 {
  margin-left: 8rem;
}

.ml-9 {
  margin-left: 9rem;
}

.ml-10 {
  margin-left: 10rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-4 {
  margin-right: 4rem;
}

.mr-5 {
  margin-right: 5rem;
}

.mr-6 {
  margin-right: 6rem;
}

.mr-7 {
  margin-right: 7rem;
}

.mr-8 {
  margin-right: 8rem;
}

.mr-9 {
  margin-right: 9rem;
}

.mr-10 {
  margin-right: 10rem;
}

.box-area__row {
  display: grid;
  position: relative;
  top: -2rem;
  z-index: 10;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 2rem;
}
@media screen and (max-width: 700px) {
  .box-area__row {
    top: 2rem;
  }
}

.box-area__item {
  display: flex;
  padding: 3.5rem 2rem 2rem;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 0px 1.2rem 2.5rem rgba(0, 0, 0, 0.07);
}

.box-area__title {
  color: #182b49;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0.6rem;
}

.box-area__description {
  font-size: 1.4rem;
  color: #969696;
}

.box-area__icon {
  margin-right: 1rem;
  width: 6rem;
}

.about-us__row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
  position: relative;
}

.about-us__title {
  font-size: 2.4rem;
  color: #182b49;
  line-height: 3.5rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
}

.about-us__desciption {
  font-size: 1.5rem;
  color: #969696;
  line-height: 2.5rem;
  margin-bottom: 4rem;
}

.about-us-a {
  position: absolute;
  width: 20rem;
  right: -4rem;
  border-radius: 0.5rem;
  bottom: -4rem;
}
@media screen and (max-width: 700px) {
  .about-us-a {
    display: none;
  }
}

.about-us__img {
  position: relative;
}
.about-us__img img:first-child {
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
}

.about-us__box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.about-us__box-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-us__number {
  font-size: 2.8rem;
}

.about-us__box-text {
  margin-top: 0.7rem;
  color: #969696;
  font-size: 1.4rem;
}

.about-us__btn {
  padding: 1rem 4rem;
  display: inline-block;
}

.orange {
  color: #ff6f6f;
}

.purple {
  color: #84479c;
}

.blue {
  color: #2c97ea;
}

.testimonial-area {
  margin-top: 10rem;
  padding: 6.3rem 0px;
}

.testimonial-area {
  background: url("../img/unnamed.jpg") no-repeat;
  background-size: cover;
  position: relative;
  height: 55rem;
  background-position: center;
}
@media screen and (max-width: 700px) {
  .testimonial-area {
    height: 60rem;
  }
}
.testimonial-area::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 25, 74, 0.9);
}

.testimonial-area__title {
  color: white;
  line-height: 3.5rem;
  font-weight: 600;
  max-width: 55rem;
  position: relative;
  z-index: 3;
  margin: auto auto 4.3rem;
}

.testimonial-area__row {
  overflow: hidden;
}

.testimonial-area__item {
  position: relative;
  z-index: 2;
}

.testimonial-area__text {
  background-color: rgba(255, 255, 255, 0.08);
  padding: 3rem 3.8rem;
  border-radius: 0.5rem;
  position: relative;
}
.testimonial-area__text h3 {
  color: #eeeeee;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}
.testimonial-area__text p {
  font-size: 1.3rem;
  color: #dddddd;
  line-height: 2.5rem;
}
.testimonial-area__text:after {
  content: "";
  position: absolute;
  border-width: 1.5rem;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.08) transparent transparent;
  top: 100%;
  left: 4.7rem;
  z-index: 1;
}

.testimonial-area__writer {
  margin-top: 3rem;
  margin-left: 2.3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.testimonial-area__writer img {
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 2rem;
}
.testimonial-area__writer h2 {
  font-size: 1.6rem;
  color: #eeeeee;
  padding-top: 1rem;
  margin-bottom: 0.3rem;
}
.testimonial-area__writer p {
  color: #dddddd;
}

.footer {
  margin-top: 10rem;
  background-color: #00194a;
  color: white;
  position: relative;
  padding: 23.5rem 0px 5.5rem;
}
@media screen and (max-width: 700px) {
  .footer {
    padding: 45rem 0px 5.5rem;
  }
}

.footer__row {
  grid-gap: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.footer__item > p {
  margin-bottom: 1.3rem;
  color: #969696;
}
.footer__item > div {
  margin-bottom: 1.3rem;
  color: #969696;
}
.footer__item > h3 {
  margin-bottom: 3rem;
}
.footer__item > img {
  width: 20rem;
  margin-bottom: 3rem;
}

.footer2 {
  padding: 3.5rem 0px 3.8rem;
  background: #122340;
}
.footer2 p {
  color: #969696;
  padding-top: 0.3rem;
}

.newsletter {
  position: absolute;
  top: -3rem;
  left: 0;
  width: 100%;
}

.newsletter__row {
  background: linear-gradient(90deg, #fa7042 0%, #942200 100%);
  border-radius: 5px;
  padding: 3.7rem 4rem 4rem;
  width: 100%;
  display: block;
  z-index: 1;
}
.newsletter__row h2 {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 3.5rem;
}

.newsletter__form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 3rem;
  justify-content: space-around;
  align-items: center;
}

.input__form {
  height: 5rem;
  background-color: white;
  font-size: 1.4rem;
  padding: 1.5rem 2rem;
  color: #182b49;
  border: none;
  border-radius: 0.5rem;
}

.btn_to-f {
  height: 5rem;
  text-align: center;
}

.about-us-page {
  background: #f6f9ff;
  padding: 7rem 0px 6.5rem;
}

.about-us-page__row {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 3rem;
}

.about-us-page__mainsidebar-list {
  background-color: white;
  border-radius: 0.5rem;
  border: 1px solid #eeeeee;
  overflow: hidden;
  list-style: none;
}

.about-us-page__litem {
  cursor: pointer;
  font-size: 1.5rem;
  color: #182b49;
  border-bottom: 1px solid #eeeeee;
  padding: 1.8rem 2.5rem;
}
.about-us-page__litem:hover {
  background: linear-gradient(90deg, #fa7042 0%, #942200 100%);
  color: white;
}
.about-us-page__litem--active {
  background: linear-gradient(90deg, #fa7042 0%, #942200 100%);
  color: white;
}

.about-us-page__title {
  color: #182b49;
  font-weight: 600;
  margin-bottom: 2.5rem;
  font-size: 2.4rem;
}

.about-us-page__imgfloat {
  float: left;
  border-radius: 0.5rem;
  margin: 0.5rem 2rem 0rem 0;
}

.about-us-page__p {
  font-size: 1.5rem;
  color: #666666;
  line-height: 3rem;
  margin-bottom: 2.5rem;
}

.about-us-page__titleh3 {
  font-size: 2rem;
}

.about-us-page__listitem {
  list-style-position: inside;
  font-size: 1.5rem;
  color: #666666;
  line-height: 3rem;
  margin-bottom: 0.5rem;
}

.employee__row {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 5rem;
}

.employee__item {
  position: relative;
  margin-bottom: 1rem;
}
.employee__item::before {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  background-color: #00194a;
  opacity: 0.5;
  position: absolute;
}

.employee__img {
  filter: blur(0rem);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.employee__img:hover {
  filter: blur(0.5rem);
}

.employee__text {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1rem 1.8rem;
  position: absolute;
  bottom: -3rem;
  left: 10%;
  width: 80%;
  z-index: 1;
  border-radius: 5px;
  padding: 1.5rem 0px;
  text-align: center;
}

.employee__name {
  color: #444444;
  font-weight: 600;
  font-size: 2rem;
}

.employee__presidency {
  font-size: 1.4rem;
  color: #969696;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.accordion__title {
  border: none;
  background: transparent;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: block;
  width: 100%;
  text-align: left;
  padding: 0px;
  font-size: 1.8rem;
  color: #444444;
  font-weight: 500;
  cursor: pointer;
}

.accordion__content {
  border-bottom: 1px solid #dddddd;
  position: relative;
  height: 0px;
  min-height: 0;
  transition: 0.3s ease;
  overflow: hidden;
}

.accordion__content.active {
  min-height: 20rem;
  height: auto;
  transform: scaleY(1);
  transition: 0.3s ease;
}

.grid-with-text {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.grid-with-text__item {
  border: 1px solid #eeeeee;
  border-radius: 5px;
  transition: all 0.2s ease 0s;
  overflow: hidden;
}

.grid-with-text__text {
  background: white;
  padding: 2rem 2.5rem;
}

.grid-with-text__img {
  width: 100%;
}

.grid-with-text__title {
  color: #182b49;
  font-weight: 600;
  display: inline-block;
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
}

.grid-with-text__desc {
  font-size: 1.4rem;
  color: #969696;
  line-height: 2.5rem;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 1rem;
  margin-bottom: 1.2rem;
}

.grid-with-text__span {
  display: flex;
  justify-content: space-between;
}

.grid-with-text__span-i {
  font-size: 1.3rem;
  color: #969696;
}

.news-area {
  margin-top: 6rem;
}

.news-area__title {
  color: #182b49;
  line-height: 3.5rem;
  text-align: center;
  margin: auto auto 4.8rem;
  max-width: 55rem;
}
.news-area__title h2 {
  font-weight: 600;
  font-size: 2.4rem;
}

.news {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap: 4rem;
}

.news__item {
  display: flex;
  position: relative;
}

.news__img {
  display: block;
  flex-basis: 40%;
  border-radius: 0.5rem;
}
.news__img img {
  border-radius: 5px;
  width: 110%;
  object-fit: cover;
  height: 110%;
}

.news__content {
  right: 2rem;
  top: 5%;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 20px;
  padding: 1.8rem;
  background: white;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 60%;
  height: auto;
  z-index: 1;
}

.news__header {
  display: flex;
  align-items: center;
}
.news__header > span {
  font-size: 1.6rem;
  color: white;
  background: linear-gradient(90deg, #11b67a 0%, #009444 100%);
  padding: 0.8rem 1rem;
  line-height: 2rem;
  border-radius: 5px;
  font-weight: 500;
  margin-right: 1rem;
}

.news__title {
  color: #182b49;
  font-weight: 600;
  display: inline-block;
  line-height: 2.3rem;
  padding-top: 0.5rem;
}

.news__body {
  margin-top: 1rem;
}
.news__body p {
  font-size: 1.4rem;
  color: #969696;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.news__footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #00194a;
}

.news__footer-item {
  margin-right: 1rem;
}

.slide-menu {
  width: 100%;
  height: 110vh;
  position: fixed;
  top: 0;
  left: 110%;
  background-color: #00194a;
  z-index: 1;
  transition: 0.4s ease;
}

.slide-menu__row {
  width: 100%;
  list-style: none;
  color: white;
  padding-top: 8rem;
}

.slide-menu.active {
  transition: 0.4s ease;
  left: 0;
}

.slide-menu__item {
  font-size: 2.4rem;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.slide-menu__item-i {
  font-size: 3.5rem;
  margin-right: 2rem;
}

.page {
  position: relative;
  left: 0%;
  transition: 0.4s ease;
}

.page.active {
  position: relative;
  left: -100%;
  overflow: hidden;
  transition: 0.4s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}
@media screen and (max-width: 900px) {
  html {
    font-size: 60%;
  }
}
@media screen and (max-width: 700px) {
  html {
    font-size: 55%;
  }
}
@media screen and (max-width: 300px) {
  html {
    font-size: 50%;
  }
}

body {
  font-size: 1.3rem;
}

/*# sourceMappingURL=style.css.map */
