@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import './vars.scss';
@import 'components/header/header.scss';
@import 'components/courseDetails/courseDetails.scss';
@import './components/container.scss';
@import './components/swiper.scss';
@import './components/btn.scss';
@import './components/margin.scss';
@import './components/boxArea.scss';
@import './components/aboutUs.scss';
@import './components/colors.scss';
@import './components/testimonialArea.scss';
@import './components/footer.scss';
@import './components/newslatter.scss';
@import './components/aboutUs/about-us-page.scss';
@import './components/employee.scss';
@import './components/news.scss';

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;

    @media screen and (max-width:900px) {
        font-size: 60%;
    }
    @media screen and (max-width:700px) {
        font-size: 55%;
    }
    @media screen and (max-width:300px) {
        font-size: 50%;
    }
}

body{
    font-size: 1.3rem;
}

