.course{
    padding:7rem 0 7rem;
}
.course__row{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap:4rem;
}
.course__main-title{
    color: rgb(24, 43, 73);
    font-weight: 600;
    line-height: 3.5rem;
    font-size: 2.4rem;
    margin-bottom: 2.5rem;
}
.course__overviews{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2.5rem;
    align-items: center;
    justify-content: center;
}
.course-over-article{
    margin:0px 2rem 0px 0px;
    padding:0px 2rem 0px 0px;
    border-right: 1px solid rgb(221, 221, 221);
    & h3{
        font-size: 1.6rem;
        color: rgb(68, 68, 68);
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
    }
    & p{
        font-size: 1.5rem;
        color: rgb(150, 150, 150);
        font-weight: 500;    
    }
}
.course__main-img{
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
    & img{
        width: 100%;
    }
    margin-bottom: 4rem;
}
.course-tab-btns{
    display: flex;
    display: inline-block;
    flex-wrap: wrap;
    list-style: none;
    border-radius: 0.5rem;
    box-shadow: rgb(0 0 0 / 10%) 0px 0.8rem 2.5rem;
    margin-bottom: 3.5rem;
}
.course-tab-btn{
    display: inline-block;
    font-size: 14px;
    color: rgb(68, 68, 68);
    font-weight: 500;
    text-transform: uppercase;
    padding: 1.2rem 3rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
.course-tab-btn--active{
    background: linear-gradient(
90deg
, rgb(17, 182, 122) 0%, rgb(0, 148, 68) 100%);
    color: rgb(255, 255, 255);
}
.course-tab-content{
    margin-bottom: 4rem;
}
.course-tab-title{
    color: rgb(68, 68, 68);
    font-weight: 600;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    position: relative;
    font-size: 2rem;

    &::after{
        position: absolute;
        content: "";
        background: rgb(17, 182, 122);
        width: 5rem;
        height: 0.2rem;
        bottom: 0px;
        left: 0px;
    }
}
.course-tab-description{
    font-size: 1.5rem;
    color: rgb(102, 102, 102);
    line-height: 2.5rem
}



