.btn{
    text-decoration: none;
    border:none;
    background: $red;
    padding:1.1rem;
    border-radius: 0.5rem;
    color:white;
    font-size: 1.4rem;
    &:hover{
        background: $red-inv;
     }

}

.btn--dark-blue{
    background: $blue;
    &:hover{
        background: $blue-inv;
     }
}