.news-area {
    margin-top: 6rem;
}
.news-area__title{
    color: rgb(24, 43, 73);
    line-height: 3.5rem;
    
    text-align: center;
    margin: auto auto 4.8rem;
    max-width: 55rem;

    & h2{
        font-weight: 600;
        font-size: 2.4rem;
    }
}
.news {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(40rem,1fr));
    grid-gap:4rem;

    @media screen and (max-width:700px) {
        grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    }


}
.news__item {
    display: flex;
    position: relative;
    @media screen and (max-width:700px) {
        flex-wrap: wrap;
    }
}
.news__img {
    display: block;
    flex-basis: 40%;
    
    border-radius: 0.5rem;

    & img{
        border-radius: 5px;
        width: 110%;
        object-fit: cover;
        height: 110%;

        @media screen and (max-width:700px) {
            width: 100%;
            height: 100%;
        }
    }

    @media screen and (max-width:700px) {
        flex-basis: 100%;
    }
}
.news__content {
    right:2rem;
    top:5%;
    box-shadow: rgb(0 0 0 / 8%) 0px 0px 20px;
    padding: 1.8rem;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 60%;
    height: auto;
    z-index: 1;

    
    @media screen and (max-width:700px) {
        flex-basis: 100%;
        right:0;
        top:-5rem;
    }
}
.news__header {
    &>span{
        font-size: 1.6rem;
    color: rgb(255, 255, 255);
    background: linear-gradient(
90deg
, rgb(17, 182, 122) 0%, rgb(0, 148, 68) 100%);
    padding: 0.8rem 1rem;
    line-height: 2rem;
    border-radius: 5px;
    font-weight: 500;
    margin-right: 1rem;
    }
    display: flex;
    align-items: center;
}
.news__title {
    color: rgb(24, 43, 73);
    font-weight: 600;
    display: inline-block;
    line-height: 2.3rem;
    padding-top: 0.5rem;
}
.news__body {
    margin-top: 1rem;
    & p{
        font-size: 1.4rem;
    color: rgb(150, 150, 150);
    border-bottom: 1px solid rgb(238, 238, 238);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    }
}
.news__footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color:$dark-blue;
}
.news__footer-item {
    margin-right: 1rem;
}
