.menu{
    width: 100%;
    position: absolute;
    z-index: 4;
    top:14rem;

    @media screen and (max-width:900px) {
        display: none;
    }
}
.menu__row{
    z-index: 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 3rem;
    border-radius: 0.5rem;
    background: $white;
    
}
.menu__list{
    list-style: none;
    display: flex;
    align-items: center;
}
.menu__item{
    position: relative;
    z-index: 4;
    padding:2rem 2.7rem 1.7rem 0px;
    background-color: $white;
    &:hover{
        .sub-menu{
            display: block;
            transform: scaleY(1);
        }
        .menu__link{
            color:darken($dark-blue,50%);
            
        } 
        
    }
}
.menu__link{
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-decoration: none;
    color:$dark-blue;
}
.menu__link__i{
    color:$dark-blue;
}
.sub-menu{
    position: absolute;
    background-color: $white;
    list-style: none;
    transform: scaleY(0);
    min-width: 30rem;
    border-radius: 0 0 0.5rem 0.5rem;
    margin-top:1.7rem;
    z-index: 3;
    display: block;
    transform-origin: center top 0px;
    transition: 0.2s ease;
    
}
.sub-menu__item{
    padding:1rem 2rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);

    &:last-child{
        border-bottom: none;
    }
    &:hover{
        .sub-menu__link{
            color:darken($dark-silver, 80%);
        }
        
    }
}
.sub-menu__link{
    
    color:darken($dark-silver,20%);
    text-decoration: none;
    font-size: 1.5rem;
}


.mob-menu{
    background-color: $dark-blue;
    position: fixed;
    z-index: 1001;
    width: 100%;
    color:white;
    padding: 1.8rem 0;
    display: none;
    @media screen and (max-width:700px) {
        display: block;
    }
}
.mob-menu__row{
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.burger{
    width: 3rem;
    position: relative;
    transition: 0.4s ease;
    z-index: 1001;

}
.burger.cliced{
    transition: 0.4s ease;
}
.bur-c{
    font-size: 3rem;
}
.logo{
    width:150px;

    & img{
        width: 100%;
        height: 100%;
    }
}


.menu2{
    position: relative;
    top:0;
}
.menu__row2{
    background: white;
    color:black;
    padding:2rem 0px;
}

.menu__link2{
    color:$dark-blue;
}